<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <a href="https://www.shapementorcumc.com/" class="btn btn-secondary mb-3">Back</a>
        <h2>User Profile</h2>

        <table class="table">

            <tr>
                <th>User Name:</th>
                <td>{{ user.user_name }}</td>
            </tr>
            <tr>
                <th>Date of Birth:</th>
                <td>{{ user.dob }}</td>
            </tr>
            <tr>
                <th>Gender:</th>
                <td>{{ user.gender }}</td>
            </tr>
            <tr>
                <th>Race:</th>
                <td>{{ user.race }}</td>
            </tr>
            <tr>
                <th>Email:</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Phone Number:</th>
                <td>{{ user.phone_number }}</td>
            </tr>
        </table>

        <!-- Edit Profile Button -->
        <button id="editButton" class="btn btn-primary">Edit Profile</button>

        <!-- Editable Profile Form -->

        <form action="/users/{{ user.user_id }}/profile/request_edit" method="POST" style="display: none;" id="editForm">
            <!-- User Name Field -->
            <div class="form-group">
                <label for="new_user_name">User Name:</label>
                <input type="text" class="form-control" id="new_user_name" name="new_user_name" value="{{ user.user_name }}" oninput="enableConfirmButton()" required>
            </div>
            <div class="form-group">
                <label for="new_email">Email:</label>
                <input type="email" class="form-control" id="new_email" name="new_email" value="{{ user.email }}" oninput="enableConfirmButton()" readonly>
            </div>
    <!-- Date of Birth Field -->
            <div class="form-group">
                <label for="new_dob">Date of Birth:</label>
                <input type="date" class="form-control" id="new_dob" name="new_dob" value="{{ user.dob }}" oninput="enableConfirmButton()">
            </div>

<!--    &lt;!&ndash; Gender Field &ndash;&gt;-->
            <div class="form-group">
                <label for="new_gender">Gender:</label>
           <!-- <input type="text" class="form-control" id="new_gender" name="new_gender" value="{{ user.gender }}" oninput="enableConfirmButton()">-->
                <select class="form-control" id="new_gender" name="new_gender" value="{{ user.gender }}" oninput="enableConfirmButton()">
                        <option value="">Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                </select>
            </div>

<!--    &lt;!&ndash; Race Field &ndash;&gt;-->
        <div class="form-group">
            <label for="new_race">Race:</label>
            <input type="text" class="form-control" id="new_race" name="new_race" value="{{ user.race }}" oninput="enableConfirmButton()">
        </div>

    <!-- Phone Number Field -->
    <div class="form-group">
        <label for="new_phone_number">Phone Number:</label>
        <input type="text" class="form-control" id="new_phone_number" name="new_phone_number" value="{{ user.phone_number }}" oninput="enableConfirmButton()">
    </div>

    <!-- Confirm Button -->
     <button type="submit" class="btn btn-success" id="confirmButton" disabled>Confirm</button>
     </form>

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        $('#bodyMetricsTable').DataTable({
            "paging": false,
            "ordering": true,
            "searching": false,
            "order": [[1, 'desc']]
        });

        const editButton = document.getElementById("editButton");
        const editForm = document.getElementById("editForm");
        const confirmButton = document.getElementById("confirmButton");

        function isValidEmail(email) {
            const regex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
            return regex.test(email);
        }

        function checkRequiredFieldsAndEmail() {
            const userName = document.getElementById('new_user_name').value.trim();
            const userEmail = document.getElementById('new_email').value.trim();
            confirmButton.disabled = !(userName && isValidEmail(userEmail));
        }

        editButton.addEventListener("click", () => {
            editForm.style.display = "block";
            checkRequiredFieldsAndEmail();
        });

        const formFields = editForm.querySelectorAll("input");
        formFields.forEach((field) => {
            field.addEventListener("input", checkRequiredFieldsAndEmail);
        });

        confirmButton.addEventListener("click", () => {
            if (!confirmButton.disabled) {
                editForm.submit();
            }
        });
    });
</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
